---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import CloseButtonSmall from "../assets/close-button-small.svg";
import WeatherWidget from "../components/WeatherWidget.astro";
import CurrentlyPlayingWidget from "../components/CurrentlyPlayingWidget.astro";
import "../styles/fun-stuff.css";
import { getWeather } from "../lib/GetCurrentWeather";
import { getLastFm } from "../lib/GetCurrentlyPlaying";
const weather = await getWeather();
const lastFm = await getLastFm();
---

<Layout>
  <div class="container">
    <div class="left-side">
      <div class="spotify-widget widget">
        <div class="title-bar">
          <h1 class="title">i'm listening to</h1>
          <div class="title-bar-buttons">
            <CloseButtonSmall class="close-btn" />
          </div>
        </div>
        <CurrentlyPlayingWidget
          name={lastFm.name}
          artist={lastFm.artist}
          cover_art={lastFm.cover_art}
          album={lastFm.album}
        />
      </div>
      <div class="weather-widget widget">
        <div class="title-bar">
          <h1 class="title">weather</h1>
          <div class="title-bar-buttons">
            <CloseButtonSmall class="close-btn" />
          </div>
        </div>
        <WeatherWidget
          short_desc={weather.short_desc}
          long_desc={weather.long_desc}
          temperature={weather.temperature}
          feels_like={weather.feels_like}
          icon={weather.icon}
        />
      </div>
    </div>
    <div class="right-side">
      <div class="cat-pic widget">
        <div class="title-bar">
          <h1 class="title">random cat pic :3</h1>
          <div class="title-bar-buttons">
            <CloseButtonSmall class="widget-close-btn" />
          </div>
        </div>
        <div class="cat-container widget-container">
          <img
            src="https://cataas.com/cat?width=300&height=200"
            alt="cute cat picture"
            style="max-height: 100%; max-width: 100%;"
          />
        </div>
      </div><div class="paint-widget widget">
        <div class="title-bar">
          <h1 class="title">little doodling space</h1>
          <div class="title-bar-buttons">
            <CloseButtonSmall class="close-btn" />
          </div>
        </div>
        <div class="doodle-container widget-container">
          <iframe src="https://jspaint.app" width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</Layout>
