---
import "../styles/layout.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/600.css";
import "@fontsource/ibm-plex-mono/700.css";
import { Image } from "astro:assets";
import startButton from "../assets/start-button.png";
import aboutMeIcon from "../assets/about-me-icon.png";
import travelMapIcon from "../assets/travel-map-icon.png";
import guestbookIcon from "../assets/guestbook-icon.png";
import funStuffIcon from "../assets/fun-stuff-icon.png";
import LocalTime from "../components/LocalTime.astro";
import { getLatestCommit } from "../lib/GetLatestCommit";
const latestCommit = await getLatestCommit();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>valen's site</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>
  <body>
    <div class="desktop" style="position: absolute; width: 100%; height: 100%;">
      <div class="about-me-icon icon">
        <Image
          src={aboutMeIcon}
          alt="Windows 98 help icon"
          width="48"
          height="48"
          class="icon-img"
        />
        <p class="icon-label">about me</p>
      </div>
      <div class="travel-map-icon icon">
        <Image
          src={travelMapIcon}
          alt="Windows 98 globe icon"
          width="48"
          height="48"
          class="icon-img"
        />
        <p class="icon-label">travel map</p>
      </div>
      <div class="guestbook-icon icon">
        <Image
          src={guestbookIcon}
          alt="Windows 98 notepad icon"
          width="48"
          height="48"
          class="icon-img"
        />
        <p class="icon-label">guestbook</p>
      </div>
      <div class="fun-stuff-icon icon">
        <Image
          src={funStuffIcon}
          alt="Windows 98 minesweeper icon"
          width="48"
          height="48"
          class="icon-img"
        />
        <p class="icon-label">fun stuff</p>
      </div>
    </div>
    <div id="start-menu-overlay"></div>
    <slot />
    <div class="taskbar">
      <div id="start-btn" class="startbutton">
        <Image src={startButton} alt="windows 98 start button" />
      </div>
      <p class="commit-text">
        commit <a href={latestCommit.html_url} style="color: #333333;"
          >{latestCommit.hash}</a
        > on {latestCommit.date}
      </p>
      <LocalTime />
    </div>
    <div id="start-menu" class="start-menu" style="display: none;">
      <div class="title-container">
        <h1 class="start-title">
          valen<span style="font-weight: 400;">.zip</span>
        </h1>
      </div>
      <div class="menu-container" style="margin-left: 10px;">
        <h1 style="font-size: 1.5em; margin-bottom: 0;">
          88x31 buttons are fun!!
        </h1><p style="font-size: 1.1em; margin-top: 0;">
          send me an <a href="mailto:hi@valen.zip" style="color: black;"
            >email</a
          > if you want yours here :3
        </p>
        <div class="buttons">
          <div class="my-btns" style="margin-bottom: 10px;">
            <div class="btn-imgs">
              <a href="#"
                ><img
                  src="/button-bw.gif"
                  alt="valen's site's black and white 88x31 button"
                  id="button-bw"
                /></a
              >
              <a href="#"
                ><img
                  src="/button-win98.gif"
                  alt="valen's site's windows 98 themed 88x31 button"
                  id="button-win98"
                /></a
              >
            </div>
            <p
              id="copy-text"
              style="margin: 0; font-style: italic; font-size: 0.8em;"
            >
              click either of my buttons to copy them!
            </p>
          </div>
          <div class="more-btns" style="overflow: auto;">
            <a href="https://aconlin.com" target="_blank"
              ><img src="/88x31/acon.gif" alt="acon's button" /></a
            >
            <a href="https://vvqb.dev" target="_blank"
              ><img src="/88x31/vivi.gif" alt="vivi's button" /></a
            >
            <a href="https://gideon.sh" target="_blank"
              ><img
                src="https://gideon.sh/88x31.gif"
                alt="gideon's button"
              /></a
            >
            <a href="https://bomberfish.ca" target="_blank"
              ><img
                src="https://bomberfish.ca/button.gif"
                alt="bomberfish's button"
              /></a
            >
            <a href="https://codingcorner.dev" target="_blank"
              ><img
                src="https://www.codingcorner.dev/buttons/codingcorner.png"
                alt="kyle's button"
              /></a
            >
            <a href="https://sarvesh.hackclub.app/" target="_blank"
              ><img src="/88x31/sarvesh.png" alt="sarvesh's button" /></a
            >
            <a href="https://os.slitrostudio.me" target="_blank"
              ><img
                src="https://site.slitrostudio.me/Slitro2.png"
                alt="josh's button"
                width="88px"
                height="31px"
              /></a
            >
            <a
              href="https://dipa-cotton.github.io/personalsite/"
              target="_blank"
              ><img
                src="https://dipa-cotton.github.io/personalsite/images/dipa's%20button.png"
                alt="dipa's button"
                width="88px"
                height="31px"
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const icons = document.querySelectorAll(".icon");
    document.addEventListener("mousedown", (e) => {
      if (document.querySelector(".sound-btn")!.classList[1] === "unmuted") {
        new Audio("/mouse-click-sound.mp3").play();
      }
      if ((e.target as HTMLElement).className === "desktop") {
        for (let i = 0; i < icons.length; i++) {
          icons[i].classList.remove("selected");
        }
      }
    });
    icons.forEach((icon) => {
      icon.addEventListener("click", () => {
        for (let i = 0; i < icons.length; i++) {
          icons[i].classList.remove("selected");
        }
        icon.classList.add("selected");
      });
    });
    document.getElementById("button-bw")!.addEventListener("click", () => {
      const copyText = document.getElementById("copy-text");
      const code =
        '<a href="https://www.valen.zip"><img src="https://www.valen.zip/button-bw.gif" alt="valen\'s site\'s black and white 88x31 button" /></a>';
      try {
        navigator.clipboard.writeText(code);
        copyText!.textContent = "copied!";
        setTimeout(() => {
          copyText!.textContent = "click either of my buttons to copy them!";
        }, 1000);
      } catch (err) {
        console.error("failed to copy");
      }
    });
    document.getElementById("button-win98")!.addEventListener("click", () => {
      const copyText = document.getElementById("copy-text");
      const code =
        '<a href="https://www.valen.zip"><img src="https://www.valen.zip/button-win98.gif" alt="valen\'s site\'s windows 98 themed 88x31 button" /></a>';
      try {
        navigator.clipboard.writeText(code);
        copyText!.textContent = "copied!";
        setTimeout(() => {
          copyText!.textContent = "click either of my buttons to copy them!";
        }, 1000);
      } catch (err) {
        console.error("failed to copy");
      }
    });
    document.getElementById("start-btn")!.addEventListener("click", () => {
      const startMenu = document.getElementById("start-menu");
      const startBtn = document.getElementById("start-btn");
      const startMenuOverlay = document.getElementById("start-menu-overlay");
      if (startMenu!.style.display === "none") {
        startMenu!.style.display = "flex";
        startBtn!.classList.add("active");
        startMenuOverlay!.classList.add("overlay-active");
      } else {
        startMenu!.style.display = "none";
        startBtn!.classList.remove("active");
        startMenuOverlay!.classList.remove("overlay-active");
      }
    });
    const titleBar = document.getElementById("title-bar");
    const travelMapTitle = document.getElementById("travel-map-title");
    const guestbookTitle = document.getElementById("guestbook-title");
    const funStuffTitle = document.getElementById("fun-stuff-title");
    let offsetX, offsetY;

    const aboutMeMove = (e: MouseEvent) => {
      titleBar!.parentElement!.style.left = `${e.clientX - offsetX!}px`;
      titleBar!.parentElement!.style.top = `${e.clientY - offsetY!}px`;
    };

    const travelMapMove = (e: MouseEvent) => {
      travelMapTitle!.parentElement!.style.left = `${e.clientX - offsetX!}px`;
      travelMapTitle!.parentElement!.style.top = `${e.clientY - offsetY!}px`;
    };

    const guestbookMove = (e: MouseEvent) => {
      guestbookTitle!.parentElement!.style.left = `${e.clientX - offsetX!}px`;
      guestbookTitle!.parentElement!.style.top = `${e.clientY - offsetY!}px`;
    };

    const funStuffMove = (e: MouseEvent) => {
      funStuffTitle!.parentElement!.style.left = `${e.clientX - offsetX!}px`;
      funStuffTitle!.parentElement!.style.top = `${e.clientY - offsetY!}px`;
    };

    titleBar!.addEventListener("mousedown", (e) => {
      offsetX = e.clientX - titleBar!.parentElement!.offsetLeft;
      offsetY = e.clientY - titleBar!.parentElement!.offsetTop;
      document.addEventListener("mousemove", aboutMeMove);
    });

    travelMapTitle!.addEventListener("mousedown", (e) => {
      offsetX = e.clientX - travelMapTitle!.parentElement!.offsetLeft;
      offsetY = e.clientY - travelMapTitle!.parentElement!.offsetTop;
      document.addEventListener("mousemove", travelMapMove);
    });

    guestbookTitle!.addEventListener("mousedown", (e) => {
      offsetX = e.clientX - guestbookTitle!.parentElement!.offsetLeft;
      offsetY = e.clientY - guestbookTitle!.parentElement!.offsetTop;
      document.addEventListener("mousemove", guestbookMove);
    });

    funStuffTitle!.addEventListener("mousedown", (e) => {
      offsetX = e.clientX - funStuffTitle!.parentElement!.offsetLeft;
      offsetY = e.clientY - funStuffTitle!.parentElement!.offsetTop;
      document.addEventListener("mousemove", funStuffMove);
    });

    document.addEventListener("mouseup", () => {
      document.removeEventListener("mousemove", aboutMeMove);
      document.removeEventListener("mousemove", travelMapMove);
      document.removeEventListener("mousemove", guestbookMove);
      document.removeEventListener("mousemove", funStuffMove);
    });
  </script>
</html>
